@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.gradient {
  background: linear-gradient(
    to right,
    #7c3aed,
    #06b6d4
  );
}

.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.1);
}